<h2>Generate Assessments</h2>
<% form_for :assessment, :url => generate_path do |f| %>
	&nbsp <%= f.label :probe, 'Probe:' %>
		<% @question_bank = AssessmentQuestionBank.active -%>
		&nbsp <%= f.select :probe, options_for_select(@question_bank.collect { |probe| [probe.title, probe.id] }) %> <br />
	&nbsp <%= f.label :stage, 'Stage:' %>
		&nbsp <%= f.radio_button :stage, 'X' %>
			<%= f.label :stage, 'X' %>
		&nbsp <%= f.radio_button :stage, 'P' %>
			<%= f.label :stage, 'P' %>
		&nbsp <%= f.radio_button :stage, 'L' %>
			<%= f.label :stage, 'L' %> <br />
	&nbsp <%= f.label :class, 'Class:' %>
		&nbsp <%= f.text_field :course, :size => '20x1' %> <br />
		<div class="rs-margin-lr"> <a class="button button-sidebar-wide"> <%= f.label :show_classes, 'Click for previously created Classes', :id => 'show_previous_classes' %> </a> </div>
		<%# @courses = Course.active -%>
		<% @assessments = Assessment.all -%>
		<div id="assessment_course_selector_row"><% 3.times do %>&nbsp <% end -%> <%= f.select :course_selector, options_for_select(@assessments.collect { |assessment_list| [assessment_list.course_name_short, assessment_list.id] }), :selected => "selected" %> </div>
	&nbsp <%= f.label :students, 'Students:' %>
		&nbsp <%= f.select :students, options_for_select([['10', 10], ['20', 20]]) %> <br />
	&nbsp <%= f.submit 'Generate!' %>
<% end -%>