
<div id="add_assessment_table">
  <h2><%= @course.name %> - Available Assessments</h2>

  <table class="table">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @available_assessments.each do |assessment| %>
      <% form_for :rosters, :url => rosters_path do |f| %>
        <tr>
          <td class="add_assess_row_title">
            <% if assessment.assessment_misconceptions.present? && assessment.assessment_misconceptions.first.description.present? %>
              <a class="add_assessment_course_title" href="#" data-toggle="tooltip" title="<%= assessment.assessment_misconceptions.first.description if assessment.assessment_misconceptions.present? %>"><%= assessment.full_name %></a>
            <% else %>
              <p class="add_assessment_course_title"><%= assessment.full_name %></p>
            <% end -%>
          </td>
          <td class="add_assess_row_data"><em><p><%= assessment.assessment_questions.count - 1 %> Questions</p></em></td>
          <td class="add_assess_row_data">
            <% if assessment.misconception_url.present? %>
              <%= link_to "Misconceptions", assessment.misconception_url, :target => '_blank' %>
            <% else %>
              Misconceptions
            <% end -%>
          </td>
          <%= f.hidden_field :probe_id, :value => assessment.id %>
          <%= f.hidden_field :stage, :value => 'X' %>
          <%= f.hidden_field :instance, :value => '001' %>
          <%= f.hidden_field :students, :value => @course.students.count %>
          <%= f.hidden_field :courses, :value => @course.em2_identifier %>
          <td>
            <%= f.label :pre_post, "Pre" %>
            <%= f.radio_button :pre_post, "(Pre)" %>
            <%= f.label :pre_post, "Post" %>
            <%= f.radio_button :pre_post, "(Post)" %>
          </td>
          <td>
            <%= f.submit 'Add to Class', :class => 'btn btn-primary' %>
          </td>
          <td class="add_assess_row_data">
            <% if assessment.paper_version_url.present? %>
              <a href="<%= assessment.paper_version_url %>"><%= image_tag 'pdf.png' %></a>
            <% else %>
              No PDF
            <% end -%>
          </td>
        </tr>
      <% end -%>
    <% end -%>
  </table>
</div>


<% content_for :page_specific_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      alert('it worked');
      //$('form').submit(function(){
      //$('input[type=submit]', this).attr('disabled', 'disabled');
      //});
    });
  </script>
<% end %>

