<% q = quiz_summary || nil
  submission = nil
  submission = @submissions_hash[q.id] if q
  submission = nil if submission && submission.settings_only?
  unpublished ||= false
  start = Time.now
%>
<li class="quiz <%= 'unpublished' if unpublished %>" id="summary_quiz_<%= q ? q.id : "blank" %>">
  <div class="title">
    <div style="float: right; font-size: 0.6em; font-weight: normal;">
      <% if can_do(q, @current_user, :update) %>
        <div>
          <a href="<%= context_url(@context, :edit_context_quiz_url, q) %>" title="<%= q.survey? ? t('titles.edit_survey', "Edit Survey") : t('titles.edit_quiz', "Edit Quiz") %>" class="edit_quiz_link no-hover"><%= image_tag "edit.png" %></a>
          <a href="<%= context_url(@context, :context_quiz_url, q) %>" title="<%= q.survey? ? t('titles.delete_survey', "Delete Survey") : t('titles.delete_quiz', "Delete Quiz") %>" class="delete_quiz_link no-hover"><%= image_tag "delete.png" %></a>
        </div>
      <% end %>
    </div>
    <a href="<%= context_url(@context, :context_quiz_url, q) %>" class="quiz_title"><%= q.quiz_title || q.readable_type %></a>
    <span class="quiz_id" style="display: none;"><%= (q && q.id) || nbsp %></span>
    <div class="clear"></div>
  </div>
  <div class="description user_content">
    <% if q.available? %>
      <div style="float: right; margin: 0 0 0 20px;">
        <div style="border-bottom: 1px solid #ccc;">
          <% if submission %>
            <%= before_label(:latest_submission, "Latest Submission") %>
          <% elsif q.survey? %>
            <%= before_label(:survey_details, "Survey Details") %>
          <% else %>
            <%= before_label(:quiz_details, "Quiz Details") %>
          <% end %>
        </div>
		<%= q.probe_name %> <br/>
        <% if submission && submission.completed? %>
          <%= datetime_string(submission.finished_at) %><br/>
          <% if q.muted? %>
            <%= image_tag "sound_mute.png", :alt => t("#gradebooks.grade.muted", "Muted"), :class => "muted_icon" %>
            <%= t(:student_mute_notification, "Instructor is working on grades") %>
          <% end %>
        <% elsif submission %>
          <%= datetime_string(submission.started_at) %><br/>
          <% link_to context_url(@context, :context_quiz_take_url, q.id, :user_id => @current_user && @current_user.id), :method => :post do %><%= q.survey? ? t('links.resume_survey', "Resume Survey") : t('links.resume_quiz', "Resume Quiz") %><% end %>
        <% else %>
          <%= t(:question_count, "Question", :count => q.question_count) %>
        <% end %>
      </div>
      <% if q.due_at %>
        <%= before_label(:quiz_due, "Due") %> <%= datetime_string(q.due_at) %><br/>
      <% end %>
      <% if q.time_limit %>
        <%= before_label(:quiz_time_limit, "Time Limit") %> <%= time_ago_in_words(Time.now - q.time_limit.minutes) %><br/>
      <% end %>
      <% if q.allowed_attempts && q.allowed_attempts != 1 %>
        <% if q.allowed_attempts > 0 %>
          <%= before_label(:allowed_attempts, "Allowed Attempts") %> <%= q.allowed_attempts %><br/>
          <% if submission %>
            <%= before_label(:attempts_left, "Attempts Left") %> <%= q.allowed_attempts - submission.attempt %><br/>
          <% end %>
        <% else %>
          <%= t(:unlimited_attempts, "Unlimited Attempts") %><br/>
          <% if submission %>
            <%= before_label(:attempts_so_far, "Attempts So Far") %> <%= submission.attempt %><br/>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <%= t(:question_count, "Question", :count => q.unpublished_question_count) %>
    <% end %>
    <div class="user_content" style="margin-top: 5px;">
      <%= user_content(truncate_html(q.description || t(:no_details, "No Details"), :num_words => 50)) %>
    </div>
    <div class="clear"></div>
    <% if can_do(q, @current_user, :manage) %>
      <span class="quiz_info"><%= @all_submitted_students_count[q.id] %> <%= t('of', 'of') %> <%= @all_students_count %> <%= t('students_completed', 'students completed') %></span>
      <span class="quiz_info"><a href="<%= context_url(@context, :context_quiz_moderate_url, q.id) %>"> <%= t('links.moderate', "Monitor Assessment") %></a></span>
      <span class="quiz_info"><a href="<%= context_url(@context, :context_quiz_students_reports_url, q) %>"><%= t('links.student_reports', "Misconception Reports") %></a></span>
      <span class="quiz_info"><% link_to context_url(@context, :context_quiz_take_url, q, :preview => 1), :method => :post, :target => "_blank" do %><%= t('links.preview', "Preview") %><% end %></span>
    <% end %>
    <% if @is_account_admin %>
    &nbsp <a href="<%= context_url(@context, :context_quiz_quiz_misconceptions_url, q) %>"><%= t('links.edit_misconceptions', "Edit Misconceptions") %></a>
    <% end -%>
  </div>
</li>
