<div>
  <div>
    <div>
      <span><%= t('the', 'The ') %><%= @quiz.quiz_title || @quiz.readable_type %><%= t('assessment',' assessment: ') %><%= user_content(@quiz.description) %></span>
    </div>
    <% if @quiz.quiz_misconceptions.count > 0 -%>
      <div>
        <span><%= @quiz.quiz_misconceptions.count == 1 ? t('the_misconception', 'The targeted misconception is ') : t('the_misconceptions', 'The targeted misconceptions are: ') %></span>
        <span>
          <% @quiz.quiz_misconceptions.each do |qm| -%>
            <%= qm.name %> <%= qm != @quiz.quiz_misconceptions.last ? ', ' : '' %>
          <% end -%>
        </span>
      </div>
    <% end -%>
  </div>
  <div>
    <div class="number_questions">
      <%= @question_count %><%= t('questions', ' questions') %>
    </div>
  </div>
</div>
