<% if (@found_teacher || @is_admin) -%>
<div id="raw_data_view">

	<table border="1" class="assessment_report_table">
		<tr>
			<th>idDistr</th>
			<th>idSchl</th>
			<th>idTchr</th>
			<th>idClass</th>
			<th>name</th>
			<th>id</th>
			<th>submitted</th>
			<% @count = 1 -%>
			<% @quiz.quiz_data.each do |question| -%>
				<% if question[:question_type] == "text_only_question" -%>
					<% next -%>
				<% end -%>
				<th>q<%=@count%></th>
				<% @count += 1 -%>
			<% end -%>
			<% @count = 1 -%>
			<% @quiz.quiz_data.each do |question| -%>
				<% if question[:question_type] == "text_only_question" -%>
					<% next -%>
				<% end -%>
				<th>cor<%=@count%></th>
				<% @count += 1 -%>
			<% end -%>
			<% @count = 1 -%>
			<% @quiz.quiz_data.each do |question| -%>
				<% next if question[:question_type] == "text_only_question" -%>
				<th>expl<%=@count%></th>
				<% @count += 1 -%>
			<% end -%>
		</tr>

		<% @submitted_users.each do |user| -%>
			<tr>
				<th><%= user.sortable_name[/[Dd][0-9]{3}/] %></th>
				<th><%= user.sortable_name[/[Ss][0-9]{3}/] %></th>
				<th><%= user.sortable_name[/[Tt][0-9]{3}/] %></th>
				<th><%= user.sortable_name[/[Cc][0-9]{3}/] %></th>
				<th><%= user.name %></th>
				<th><%= user.id %></th>
				<% @submission = @quiz.quiz_submissions.find_by_quiz_id_and_user_id(@quiz.id,user.id) -%>
				<th><%= Submission.find(@submission.submission_id).submitted_at %></th>
				
				<% @counter = 0 -%>
				<% while @counter < @quiz_question_count do -%>
					<th><%=@q["#{user.id}"] == nil || @q["#{user.id}"] == '' ? '' : @q["#{user.id}"]["#{@counter+1}"] == nil || @q["#{user.id}"]["#{@counter+1}"] == '' ? '' : @q["#{user.id}"]["#{@counter+1}"] %></th>
					<% @counter += 1 -%>
				<% end -%>

				<% @counter = 0 -%>
				<% while @counter < @quiz_question_count do -%>
					<th><%= @cor["#{@counter+1}"] == nil || @cor["#{@counter+1}"] == '' ? '' : @cor["#{@counter+1}"] %></th>
					<% @counter += 1 -%>
				<% end -%>

				<% @counter = 0 -%>
				<% while @counter < @quiz_question_count do -%>
					<th><%= @expl["#{user.id}"] == nil || @expl["#{user.id}"] == '' ? '' : @expl["#{user.id}"]["#{@counter+1}"] == nil || @expl["#{user.id}"]["#{@counter+1}"] == '' ? '' : @expl["#{user.id}"]["#{@counter+1}"] %></th>
					<% @counter += 1 -%>
				<% end -%>

			</tr>
		<% end -%>

	</table>
</div>

<% end -%>