<% content_for :page_title do %><%= join_title(@quiz.quiz_title || @quiz.readable_type, @context.name) %><% end %>

<% js_bundle :quiz_show %>
<% jammit_css :quizzes %>

<% if @submission && @submission.completed? && @submission.attempts_left == 0 && @no_chrome -%>
  <%= render :partial => "quizzes/thank_you", :locals => {:submission => @submission}%>
<% else -%>
  <a id="context_quzzes_url" style="display:none;" href="<%= context_url(@context, :context_quizzes_url) %>">&nbsp;<!-- needed by quiz_show.js --></a>
  <% if @quiz.for_assignment? && @quiz.assignment.context_module_tag && @quiz.assignment.context_module_tag.context_module %>
    <%= render :partial => "shared/context_module_legend", :object => @quiz.assignment.context_module_tag.context_module %>
  <% end %>
  <% if !@no_chrome %>
    <h2 id="quiz_title"><%= @quiz.quiz_title || @quiz.readable_type %></h2>
    <div>
      <span class="quiz_info"><%= @all_submitted_students_count %> <%= t('of', 'of') %> <%= @all_students_count %> <%= t('students_completed', 'students completed') %></span>
    </div>
  <% end -%>
  <% if @submission && params[:preview] %>
    <h3>
      <%= image_tag "warning.png" %> <%= t('warnings.draft_version', "This is a preview of the draft version of the quiz") %>
    </h3>
  <% end %>
  <% if !@quiz.available? %><p>
    <%= @quiz.survey? ? t(:survey_not_published, "This survey hasn't been published yet.  Students can't take the survey until it's published.") : t(:quiz_not_published, "This quiz hasn't been published yet.  Students can't take the quiz until it's published.") %>
    <% if can_do(@quiz, @current_user, :update) %>
      <%= @quiz.survey? ? t(:publish_survey_instructions, 'To publish the survey, click "Edit This Survey" to the right and then click the "Publish" button.') : t(:publish_quiz_instructions, 'To publish the quiz, click "Edit This Quiz" to the right and then click the "Publish" button.') %>
      <% if @submission && @submission.completed? %>
        <%= render :partial => "quizzes/quiz_submission" %>
      <% end %>
    <% end %>
    </p>
    <% if !@locked || @locked_reason[:lock_at] %>
      <% if @quiz.due_at %>
        <%= before_label(:quiz_due, "due") %> <%= datetime_string(@quiz.due_at) %>
      <% end %>
      <% if @quiz.description && !@quiz.description.empty? %>
        <h3><%= before_label(:instructions, "Instructions") %></h3>
        <div class="description user_content"><%= user_content(@quiz.description) %></div>
      <% end %>
    <% end %>
    <% if can_do(@quiz, @current_user, :update) %>
      <div style="text-align: center; margin-top: 10px; display: none;">
        <a href="<%= context_url(@context, :edit_context_quiz_url, @quiz) %>" class="edit"><%= @quiz.survey? ? t('links.edit_this_survey', "Edit This Survey") : t('links.edit_this_quiz', "Edit This Quiz") %></a>
        <a style="padding-left: 40px;" href="<%= context_url(@context, :context_quiz_url, @quiz) %>" class="delete_quiz_link delete"><%= @quiz.survey? ? t('links.delete_this_survey', "Delete This Survey") : t('links.delete_this_quiz', "Delete This Quiz") %></a>
      </div>
    <% end %>
  <% else %>
    <% if can_do(@quiz, @current_user, :grade) || can_do(@quiz, @current_user, :review_grades) %>
      <table id="quiz_details" style="display: none; clear: both;">
        <tr>
          <td style="vertical-align: top;">
            <h3><%= @quiz.survey? ? t('headers.submitted_students_survey', "Students who have taken the survey") : t('headers.submitted_students_quiz', "Students who have taken the quiz") %></h3>
            <ul class="student_list submitted">
              <% if @submitted_students.empty? %>
                <li><%= @quiz.survey? ? t(:survey_no_submissions, "No Students have taken the survey yet") : t(:quiz_no_submissions, "No Students have taken the quiz yet") %></li>
              <% end %>
              <% @submitted_students.each_with_index do |s, idx| %>
                <% submission = @submissions.find{|qs| qs.user_id == s.id} %>
                <li class="student" data-id="<%= s.id %>">
                  <% if submission.pending_review? %>
                    <%= image_tag "pending_review.png", :title => t('titles.submission_needs_review', "This submission needs review") %>
                  <% end %>
                  <a href="<%= context_url(@context, :context_quiz_history_url, @quiz, :quiz_submission_id => submission.id) %>" class="name">
                    <% if @quiz.survey? && @quiz.anonymous_submissions %>
                      <%= t(:anonymous_student, "Student %{n}", :n => idx + 1) %>
                    <% else %>
                      <%= s.name %>
                    <% end %>
                  </a>
                </li>
              <% end %>
            </ul>
          </td><td style="vertical-align: top; padding-left: 20px;">
            <% if @quiz.survey? && @quiz.anonymous_submissions %>
              <h3><%= t('headers.unsubmitted_students_count', {:one => "1 student hasn't taken the survey", :other => "%{count} students haven't taken the survey"}, :count => @unsubmitted_students.length) %></h3>
            <% else %>
              <h3><%= @quiz.survey? ? t('headers.survey_unsubmitted_students', "Students who haven't taken the survey") : t('headers.quiz_unsubmitted_students', "Students who haven't taken the quiz") %></h3>
              <ul class="student_list">
                <% if @unsubmitted_students.empty? && !@submitted_students.empty? %>
                  <li><%= @quiz.survey? ? t(:survey_all_students_submitted, "All Students have taken the survey") : t(:quiz_all_students_submitted, "All Students have taken the quiz") %></li>
                <% end %>
                <% @unsubmitted_students.each do |s| %>
                  <li class="student" data-id="<%= s.id %>">
                    <span class="name"><%= s.name %></span>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </td>
        </tr>
      </table>
    <% end %>
    <% if (!@locked || @locked_reason[:lock_at]) && !@no_chrome %>
      <div class="divider_line"></div>
      <!-- <h3><%#= before_label(:instructions, "Instructions") %></h3> -->
      <div class="description user_content"><%= user_content(@quiz.description) %></div>
    <% end %>
    <% if !@submission || !@submission.completed? || @quiz.unlimited_attempts? || (@submission.completed? && @submission.attempts_left > 0) %>
      <%#= render :partial => "quiz_details" %>
      <div class="divider_line"></div>
      <% if can_do(@quiz, @current_user, :update) %>
        <div class="button_layer">
          <span>
            <% if @is_admin %>
              <a href="<%= context_url(@context, :edit_context_quiz_url, @quiz) %>" class="button button-quiz-buttons"><%= image_tag "edit.png" %> <%= @quiz.survey? ? t('links.edit_this_survey', "Edit This Survey") : t('links.manage_administration', "Manage Administration") %></a>
            <% end -%>
          </span>
          <span>
            <a href="<%= context_url(@context, :context_quiz_teacher_instructions_url, @quiz) %>" class="button <%= @is_admin ? 'button-quiz-buttons-right' : 'button-quiz-buttons' %>"><%= image_tag "ball.png" %> <%= t('links.teacher_instructions', "Teacher Instructions") %></a>
          </span>
        </div>
        <div class="button_layer">
          <span>
            <% if can_do(@quiz, @current_user, :manage) %>
              <a href="<%= context_url(@context, :context_quiz_moderate_url, @quiz.id) %>" class="button button-quiz-buttons"><%= image_tag "ball.png" %> <%= @quiz.survey? ? t('links.moderate_this_survey', "Monitor This Survey") : t('links.moderate_this_quiz', "Monitor This Quiz") %></a>
            <% end %>
          </span>
          <span>
            <a href="<%= context_url(@context, :context_quiz_student_instructions_url, @quiz) %>" class="button button-quiz-buttons-right"><%= image_tag "ball.png" %> <%= t('links.student_instructions', "Student Login Instructions") %></a>
          </span>
        </div>

        <div class="button_layer">
          <span>
            <% if @quiz.assignment %>
              <a target="_blank" class="button button-quiz-buttons" href="<%= context_url(@context, :speed_grader_context_gradebook_url, :assignment_id => @quiz.assignment.id) %>"><%= image_tag "grading_icon.png" %> <%= t(:individual_results, "Individual Results") %></a>
            <% end %>
          </span>
          <span>
            <% link_to context_url(@context, :context_quiz_take_url, @quiz, :preview => 1), :method => :post, :target => "_blank", :class => "button button-quiz-buttons  button-quiz-buttons-right" do %><%= image_tag "ball.png" %> <%= t('links.preview', "Preview Assessment") %><% end %>
          </span>
        </div>

        <% if can_do(@quiz, @current_user, :manage) && @submitted_students && !@submitted_students.empty? -%>
          <div class="button_layer">
            <span>
              <a href="<%= context_url(@context, :context_quiz_statistics_url, @quiz.id) %>" class="button button-quiz-buttons"><%= image_tag "graph.png" %> <%= @quiz.survey? ? t('links.survey_statistics', "Survey Statistics") : t('links.quiz_statistics', "Quiz Statistics") %></a>
            </span>
          </div>
        <% end -%>

        <% if @quiz.paper_version_url.present? -%>
          <div class="button_layer">
            <span>
              <a href="<%= @quiz.paper_version_url %>" class="button button-quiz-buttons"><%= image_tag "ball.png" %> <%= t('links.print_paper_version_url', "Print Paper Version") %></a>
            </span>
          </div>
        <% end -%>

        <div class="button_layer">
          <span>
            <a href="<%= context_url(@context, :context_quiz_misconception_reports_url, @quiz) %>" class="button button-quiz-buttons"><%= image_tag "ball.png" %> <%= t('links.misconception_reports', "Misconception Reports") %></a>
          </span>
          <!-- <span>
            <a href="#" class="button button-quiz-buttons  button-quiz-buttons-right"><%#= image_tag "ball.png" %> <%#= t('links.manage_artifacts', "Manage Artifacts") %></a>
          </span> -->
        </div>

        <div>
          <span>
            <% if can_do(@quiz, @current_user, :update) && @is_account_admin -%>
              <a href="<%= context_url(@context, :context_quiz_quiz_misconceptions_url, @quiz) %>" class="button button-quiz-buttons button-quiz-buttons"><%= image_tag "edit.png" %> <%= t('links.edit_misconceptions', "Edit Misconceptions") %></a>
            <% end -%>
          </span>
        </div>


      <% end -%>

      <% if @locked && !can_do(@quiz, @current_user, :update) %>
        <div style="text-align: left; margin-top: 20px;">
          <%= lock_explanation(@locked_reason, 'quiz', @context) %>
        </div>
      <% elsif !@current_user && @quiz.graded? %>
        <div style="text-align: left; margin-top: 20px;">
          <%= t(:only_registered_users, "Only registered, enrolled users can take graded quizzes") %>
        </div>
      <% elsif @submission && @submission.untaken? %>
        <div style="text-align: center; margin-top: 20px; font-size: 1.3em;">
          <% link_to context_url(@context, :context_quiz_take_url, @quiz.id, :user_id => @current_user && @current_user.id), :id => "resume_quiz_link", 'data-method' => 'post' do %><%= @quiz.survey? ? t('links.resume_survey', "Resume Survey") : t('links.resume_quiz', "Resume Quiz") %><% end %>
          <% if !@no_chrome -%>
            <input type="hidden" id="is_admin" />
          <% end -%>
        </div>
      <% elsif can_do(@quiz, @current_user, :submit) && !@lockdown_browser_authorized_to_view && !@is_admin && !@is_teacher %>
        <div style="text-align: center; margin-top: 20px; font-size: 1.3em;">
          <% link_to context_url(@context, :context_quiz_take_url, @quiz.id, :user_id => @current_user && @current_user.id), :id => "take_quiz_link", 'data-method' => 'post' do %><% if @submission && !@submission.settings_only? %><%= @quiz.survey? ? t('links.take_the_survey_again', "Take the Survey Again") : t('links.take_the_quiz_again', "Take the Quiz Again") %><% else %><%= @quiz.survey? ? t('links.take_the_survey', "Take the Survey") : t('links.take_the_quiz', "Take the Quiz") %><% end %><% end %>
          <div class="button-container thank_you">
            <%= link_to t('links.logout', "Logout"), logout_path, :method => :delete, :id => "countdown_logout", :class => "button" %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if @submission && @submission.completed? %>
      <%= @quiz.assignment && @quiz.assignment.muted? ? render(:partial => "quizzes/muted") : render(:partial => "quizzes/quiz_submission") %>
    <% end %>
    <% if can_do(@quiz, @current_user, :grade) %>
      <%= render :partial => "shared/message_students" %>
    <% end %>
  <% end %>
  <%
    sequence_asset = @quiz
    sequence_asset = @quiz.assignment if @quiz.assignment && !@quiz.context_module_tag && @quiz.assignment.context_module_tag
  %>
  <%= render :partial => "shared/sequence_footer", :locals => {:asset => sequence_asset} if sequence_asset.context_module_tag %>
<% end -%>


<% js_block do %>

<script type="text/javascript">
require([
  'jquery' /* $ */
], function($) {
  $(document).ready(function() {
    if ($('#is_admin').length == 0){
      $('#resume_quiz_link').click();
    }
  });
});
</script>

<% end -%>
