<style>
#students_custom_count {display: none;}
.validator {color: #990000; font-size: 10px;}
#course_example_validator {float: right;}
#students_custom_count_validator {display: none;}
#students_custom_count_zero_validator {display: none;}
#students_custom_count_less_validator {display: none;}
</style>

<h2>Assign Assessment to Classes</h2>
<% @student_options = [['10', 10], ['15', 15], ['20', 20], ['25', 25], ['30', 30], ['Other', 'Other']] %>
<% form_for :rosters, :url => rosters_path do |f| %>
	&nbsp <%= f.label :probe_id, 'Assessment:' %>
		<% @question_bank = AssessmentQuestionBank.active -%>
		&nbsp <%= f.select :probe_id, options_for_select(@question_bank.collect { |probe| [probe.title, probe.id] }) %> <br />
	&nbsp <%= f.label :stage, 'Stage:' %>
		&nbsp <%= f.radio_button :stage, 'X', {:checked=>true} %>
			<%= f.label :stage, 'X' %>
		&nbsp <%= f.radio_button :stage, 'P' %>
			<%= f.label :stage, 'P' %>
		&nbsp <%= f.radio_button :stage, 'L' %>
			<%= f.label :stage, 'L' %> <br />
	&nbsp <%= f.label :instance, 'Instance:' %>
		&nbsp <%= f.text_field :instance, :size => '3x1' %>

			<span id='instance_validator' class='validator'>Must Be 3 Numbers </span> <br />

	&nbsp <%= f.label :students, 'Students:' %>
		&nbsp <%= f.select :students, options_for_select(@student_options, 25) %> <br />
		<div id="students_custom_count">
			<% 9.times do %>&nbsp <% end -%> <%= f.text_field :students_custom, :size => '3x1' %>
			<span id='students_custom_count_validator' class='validator'><%= t(:must_be_a_number, "Must Be A Number") %></span>
			<span id='students_custom_count_zero_validator' class='validator'>Must Be Greater Than Zero</span>
			<span id='students_custom_count_less_validator' class='validator'>Must Be Less Than 251</span>
		</div>
	&nbsp <%= f.label :courses, 'Class IDs:' %>
	<div>
		&nbsp <%= f.text_area :courses, :size => '16x10' %>

			<span id='course_example_validator' class='validator'>Must Be In Form: <br />D***S***T***C*** <br />e.g., D123S123T123C123 &nbsp</span> <br />
	</div>
	&nbsp <%= f.submit 'Assign Assessment' %>
<% end -%>

<% js_block do %>
<script type="text/javascript">
require([
  'jquery', /* $ */
  'assign_probe'
], function($) {
	$(document).ready(function() {
		assignProbeValidator();
	});
});
</script>

<% end -%>
