<% jammit_css :rosters -%>

<h2><a href="<%= rosters_path %>"><%= t(:view_class_rosters, "View Class Rosters") %></a></h2>
<div class="rs-margin-lr">
	<% if @is_teacher || @is_admin -%>
		<% @school_rosters.each do |roster| -%>
			<div class="school_roster">
				<b><a href="<%= account_path(roster.account) %>"><%= roster.name %></a></b> <a href="<%= roster_path(roster) %>" class="button"> Rosters </a> <a href="<%= roster_path(roster) %>" class="button"> Reports </a>
			</div>
		<% end -%>
	<% end -%>
</div>