<style>
.break { page-break-before:always; }
.roster_info { float:right; }
.teacher_info { float:right; }
th { padding:2px; }
td { padding:2px; }
</style>

<% content_for :page_title do -%><%= @current_school_roster.parent_account.name + @current_school_roster.name %><% end -%>

<% @current_school_roster.courses.by_name.each do |school| -%>
	<div class="break">
		<br/>

		<% @district = school.name[/[Dd][0-9]{3}/] -%>
		<% @school = school.name[/[Ss][0-9]{3}/] -%>
		<% @class = school.name[/[Cc][0-9]{3}/] -%>
		<% @teacher = school.name[/[Tt][0-9]{3}/] -%>
		<div class="roster_info"> District: <%= @district %> School: <%= @school %> Teacher: <b><%= @teacher %></b> Class: <%= @class %></div><br/>
		<div class="teacher_info"> Teachers login at http://elicitingmathmeaning.edc.org/teacher <br/>
			<% school.teachers.each do |teacher| -%>
				<% if teacher.name.size == 10 && teacher.name[/[0-9]+/].size == 10 -%> Login: <%= teacher.name %> <br/> <% end -%>
			<% end -%>
		</div>
		<%= image_tag("logo_rosters.png", :class => "logo_image", :size => "160x65") %>
		<table border="1" class="roster_table">
			<tr>
				<th width="30px">Count</th>
				<th width="75px">Login</th>
				<th width="200px">Student Name</th>
				<th width="700px">Notes</th>
			</tr>
			<% school.students.each do |student| %>
			<tr>
				<td><%= student.short_name %></td>
				<td><%= student.name %></td>
				<td> </td>
				<td> </td>
			</tr>
			<% end -%>
		</table>
		<div class="school_name"><%= school.name %></div>
	</div>
<% end -%>