<style type="text/css">
.misconception{
	border:2px solid #888;
	border-radius: 3px;
}
.misconception_piece{
  padding-left: 5px;
}
.name{
  font-size: 25px;
}
.responses{
  font-size: 15px;
}
.explanation_url{
  font-size: 15px;
}
.description{
  font-size: 15px;
}

</style>

<% context = @context %>
<h1>Misconceptions</h1>
<% content_for :right_side do %>
  <div style="position: relative;">
    <% if can_do(@bank, @current_user, :update) -%>
      <a href="<%= context_url(@context, :context_question_bank_url, @bank.id) %>" class="button button-sidebar button-sidebar-wide"><%= image_tag "edit.png" %> <%= t('links.edit_this_quiz', "Edit This Quiz") %></a>
    <% end -%>
  </div>
<% end -%>
<% if @misconceptions.count > 0 -%>
		<% @misconceptions.each do |misconception| -%>
			<%= render :partial => "misconception_item", :object => misconception, :locals => {:question_bank_id => params[:question_bank_id]}, :id => params[:id] %>
		<% end -%>
<% end -%>


<a href="<%= new_account_question_bank_assessment_misconception_path %>" class="button">Add Misconception</a>

<% form_for :assessment_misconception, :url => "", :html => {:id => "edit_misconception_name_form", :style => "display: none;"} do |f| %>
  <%= f.blabel :name, :en => "Misconception Name" %>
  <%= f.text_field :name, :class => "misconception_name_box" %>
<% end %>

<% form_for :assessment_misconception, :url => "", :html => {:id => "edit_misconception_url_form", :style => "display: none;"} do |f| %>
  <%= f.blabel :explanation_url, :en => "Explanation URL" %>
  <%= f.text_field :explanation_url, :class => "misconception_url_box" %>
<% end %>

<% form_for :assessment_misconception, :url => "", :html => {:id => "edit_misconception_description_form", :style => "display: none;"} do |f| %>
  <%= f.blabel :description, :en => "Description" %>
  <%= f.text_area :description, :class => "misconception_description_box" %>
<% end %>

<% js_block do %>

<script type="text/javascript">
require([
  'jquery' /* $ */
], function($) {
   $(document).ready(function() {
   	


//*******************************************
//
// To edit the misconception name
//
//*******************************************

   	$(".delete_misconception_link").click(function(event) {
    event.preventDefault();
    $(this).parents(".misconception").confirmDelete({
      url: $(this).attr('href'),
      message: "Are you sure you want to delete this misconception?",
      success: function() {
        $(this).slideUp(function() {
          $(this).remove();
        });
      }
    });
  });


  $(".edit_misconception_name_link").click(function(event) {
    event.preventDefault();
    var $misconception_piece = $(this).parents(".misconception_piece");
    var data = $misconception_piece.getTemplateData({textValues: ['name']});
    $misconception_piece.find(".header").hide();
    $misconception_piece.find(".header_content").hide();
    $misconception_piece.find(".modify_buttons").hide();
    var $form = $("#edit_misconception_name_form");
    $misconception_piece.prepend($form.show());
    $form.attr('action', $(this).attr('href'));
    $form.attr('method', 'PUT');

    $form.fillFormData(data, {object_name: 'assessment_misconception'});
    $form.find(":text:visible:first").focus().select();
  });


  $("#edit_misconception_name_form .misconception_name_box").keycodes('return esc', function(event) {
    if(event.keyString == 'esc') {
      $(this).parents(".misconception_piece").addClass('dont_save')
      $(this).blur();
    } else if(event.keyString == 'return') {
      $("#edit_misconception_name_form").submit();
    }
  });
  $("#edit_misconception_name_form .misconception_name_box").blur(function() {
    var $misconception_piece = $(this).parents(".misconception_piece");
    if(!$misconception_piece.hasClass('dont_save') && !$misconception_piece.hasClass('save_in_progress')) {
      $("#edit_misconception_name_form").submit();
      return;
    }
    $misconception_piece.removeClass('dont_save');
    $misconception_piece.find(".header").show();
    $misconception_piece.find(".header_content").show();
    $misconception_piece.find(".modify_buttons").show();
    $("body").append($("#edit_misconception_name_form").hide());
  });
  $("#edit_misconception_name_form").formSubmit({
    object_name: 'assessment_misconception',
    beforeSubmit: function(data) {
      var $misconception_piece = $(this).parents(".misconception_piece");
      $misconception_piece.attr('id', 'misconception_adding');
      try {
        $misconception_piece.addClass('save_in_progress')
        $misconception_piece.find(".misconception_name_box").blur();
      } catch(e) { }
      $misconception_piece.fillTemplateData({
        data: data
      });
      $misconception_piece.loadingImage();
      return $misconception_piece;
    },
    success: function(data, $misconception_piece) {
      $misconception_piece.loadingImage('remove');
      $misconception_piece.removeClass('save_in_progress')
      var misconception_piece = data.assessment_misconception;
      misconception_piece.last_updated_at = $.parseFromISO(misconception_piece.updated_at).datetime_formatted;
      $misconception_piece.fillTemplateData({
        data: misconception_piece,
        hrefValues: ['id']
      })
    },
    error: function(data, $misconception_piece) {
      $misconception_piece.loadingImage('remove');
      $misconception_piece.removeClass('save_in_progress')
      $misconception_piece.find(".edit_misconception_name_link").click();
      $("#edit_misconception_name_form").formErrors(data);
    }
  });








//*******************************************
//
// To edit the misconception explanation url
//
//*******************************************

  $(".delete_misconception_link").click(function(event) {
    event.preventDefault();
    $(this).parents(".misconception").confirmDelete({
      url: $(this).attr('href'),
      message: "Are you sure you want to delete this misconception?",
      success: function() {
        $(this).slideUp(function() {
          $(this).remove();
        });
      }
    });
  });


  $(".edit_misconception_url_link").click(function(event) {
    event.preventDefault();
    var $misconception_piece = $(this).parents(".misconception_piece");
    var data = $misconception_piece.getTemplateData({textValues: ['name']});
    $misconception_piece.find(".header").hide();
    $misconception_piece.find(".header_content").hide();
    $misconception_piece.find(".modify_buttons").hide();
    var $form = $("#edit_misconception_url_form");
    $misconception_piece.prepend($form.show());
    $form.attr('action', $(this).attr('href'));
    $form.attr('method', 'PUT');

    $form.fillFormData(data, {object_name: 'assessment_misconception'});
    $form.find(":text:visible:first").focus().select();
  });


  $("#edit_misconception_url_form .misconception_url_box").keycodes('return esc', function(event) {
    if(event.keyString == 'esc') {
      $(this).parents(".misconception_piece").addClass('dont_save')
      $(this).blur();
    } else if(event.keyString == 'return') {
      $("#edit_misconception_url_form").submit();
    }
  });
  $("#edit_misconception_url_form .misconception_url_box").blur(function() {
    var $misconception_piece = $(this).parents(".misconception_piece");
    if(!$misconception_piece.hasClass('dont_save') && !$misconception_piece.hasClass('save_in_progress')) {
      $("#edit_misconception_url_form").submit();
      return;
    }
    $misconception_piece.removeClass('dont_save');
    $misconception_piece.find(".header").show();
    $misconception_piece.find(".header_content").show();
    $misconception_piece.find(".modify_buttons").show();
    $("body").append($("#edit_misconception_url_form").hide());
  });
  $("#edit_misconception_url_form").formSubmit({
    object_name: 'assessment_misconception',
    beforeSubmit: function(data) {
      var $misconception_piece = $(this).parents(".misconception_piece");
      $misconception_piece.attr('id', 'misconception_adding');
      try {
        $misconception_piece.addClass('save_in_progress')
        $misconception_piece.find(".misconception_url_box").blur();
      } catch(e) { }
      $misconception_piece.fillTemplateData({
        data: data
      });
      $misconception_piece.loadingImage();
      return $misconception_piece;
    },
    success: function(data, $misconception_piece) {
      $misconception_piece.loadingImage('remove');
      $misconception_piece.removeClass('save_in_progress')
      var misconception_piece = data.assessment_misconception;
      misconception_piece.last_updated_at = $.parseFromISO(misconception_piece.updated_at).datetime_formatted;
      $misconception_piece.fillTemplateData({
        data: misconception_piece,
        hrefValues: ['id']
      })
    },
    error: function(data, $misconception_piece) {
      $misconception_piece.loadingImage('remove');
      $misconception_piece.removeClass('save_in_progress')
      $misconception_piece.find(".edit_misconception_url_link").click();
      $("#edit_misconception_url_form").formErrors(data);
    }
  });






//*******************************************
//
// To edit the misconception description
//
//*******************************************

  $(".delete_misconception_link").click(function(event) {
    event.preventDefault();
    $(this).parents(".misconception").confirmDelete({
      url: $(this).attr('href'),
      message: "Are you sure you want to delete this misconception?",
      success: function() {
        $(this).slideUp(function() {
          $(this).remove();
        });
      }
    });
  });


  $(".edit_misconception_description_link").click(function(event) {
    event.preventDefault();
    var $misconception_piece = $(this).parents(".misconception_piece");
    var data = $misconception_piece.getTemplateData({textValues: ['name']});
    $misconception_piece.find(".header").hide();
    $misconception_piece.find(".header_content").hide();
    $misconception_piece.find(".modify_buttons").hide();
    var $form = $("#edit_misconception_description_form");
    $misconception_piece.prepend($form.show());
    $form.attr('action', $(this).attr('href'));
    $form.attr('method', 'PUT');

    $form.fillFormData(data, {object_name: 'assessment_misconception'});
    $form.find(":text:visible:first").focus().select();
  });


  $("#edit_misconception_description_form .misconception_description_box").keycodes('return esc', function(event) {
    if(event.keyString == 'esc') {
      $(this).parents(".misconception_piece").addClass('dont_save')
      $(this).blur();
    } else if(event.keyString == 'return') {
      $("#edit_misconception_description_form").submit();
    }
  });
  $("#edit_misconception_description_form .misconception_description_box").blur(function() {
    var $misconception_piece = $(this).parents(".misconception_piece");
    if(!$misconception_piece.hasClass('dont_save') && !$misconception_piece.hasClass('save_in_progress')) {
      $("#edit_misconception_description_form").submit();
      return;
    }
    $misconception_piece.removeClass('dont_save');
    $misconception_piece.find(".header").show();
    $misconception_piece.find(".header_content").show();
    $misconception_piece.find(".modify_buttons").show();
    $("body").append($("#edit_misconception_description_form").hide());
  });
  $("#edit_misconception_description_form").formSubmit({
    object_name: 'assessment_misconception',
    beforeSubmit: function(data) {
      var $misconception_piece = $(this).parents(".misconception_piece");
      $misconception_piece.attr('id', 'misconception_adding');
      try {
        $misconception_piece.addClass('save_in_progress')
        $misconception_piece.find(".misconception_description_box").blur();
      } catch(e) { }
      $misconception_piece.fillTemplateData({
        data: data
      });
      $misconception_piece.loadingImage();
      return $misconception_piece;
    },
    success: function(data, $misconception_piece) {
      $misconception_piece.loadingImage('remove');
      $misconception_piece.removeClass('save_in_progress')
      var misconception_piece = data.assessment_misconception;
      misconception_piece.last_updated_at = $.parseFromISO(misconception_piece.updated_at).datetime_formatted;
      $misconception_piece.fillTemplateData({
        data: misconception_piece,
        hrefValues: ['id']
      })
    },
    error: function(data, $misconception_piece) {
      $misconception_piece.loadingImage('remove');
      $misconception_piece.removeClass('save_in_progress')
      $misconception_piece.find(".edit_misconception_description_link").click();
      $("#edit_misconception_description_form").formErrors(data);
    }
  });











  });
 });
</script>

<% end -%>
