<%
  jammit_css :misconceptions
  js_bundle :misconceptions
%>

<% context = @context %>

<% content_for :right_side do %>
  <div style="position: relative;">
    <% if can_do(@bank, @current_user, :update) -%>
      <a href="<%= context_url(@context, :context_question_bank_url, @bank.id) %>" class="button button-sidebar button-sidebar-wide"><%= image_tag "edit.png" %> <%= t('links.edit_this_quiz', "Edit This Bank") %></a>
    <% end -%>
  </div>
<% end -%>


<h1>Misconceptions</h1>
<% if @misconceptions.count > 0 -%>
		<% @misconceptions.each do |misconception| -%>
			<%= render :partial => "misconception_item", :object => misconception, :locals => {:question_bank_id => params[:question_bank_id]}, :id => params[:id] %>
		<% end -%>
<% end -%>


<a href="<%= new_account_question_bank_assessment_misconception_path %>" class="button">Add Misconception</a>

<% form_for :quiz_misconception_limit, :url => "", :html => {:id => "edit_misconception_hp_limit_form", :style => "display: none;"} do |f| %>
  <%= f.text_field :high_probability_limit, :class => "misconception_limit_box", :size => '1' %>
  <%= f.text_field :high_probability_id, :class => "misconception_limit_id_box", :hidden => true %>
<% end %>

<% form_for :quiz_misconception_limit, :url => "", :html => {:id => "edit_misconception_sp_limit_form", :style => "display: none;"} do |f| %>
  <%= f.text_field :somewhat_probability_limit, :class => "misconception_limit_box", :size => '1' %>
  <%= f.text_field :somewhat_probability_id, :class => "misconception_limit_id_box", :hidden => true %>
<% end %>

<% form_for :quiz_misconception, :url => "", :html => {:id => "edit_misconception_name_form", :style => "display: none;"} do |f| %>
  <%= f.blabel :name, :en => "Misconception Name" %>
  <%= f.text_field :name, :class => "misconception_name_box" %>
<% end %>

<% form_for :quiz_misconception, :url => "", :html => {:id => "edit_misconception_url_form", :style => "display: none;"} do |f| %>
  <%= f.blabel :explanation_url, :en => "Explanation URL" %>
  <%= f.text_field :explanation_url, :class => "misconception_url_box" %>
<% end %>

<% form_for :quiz_misconception, :url => "", :html => {:id => "edit_misconception_description_form", :style => "display: none;"} do |f| %>
  <%= f.blabel :description, :en => "Description" %>
  <%= f.text_area :description, :class => "misconception_description_box" %>
<% end %>
