<li class="customListItem" data-id="<%= menu_course[:id] %>">
  <a href="<%= menu_course[:href] %>">
    <span class="name ellipsis" title="<%= menu_course[:longName] %>"><%= menu_course[:shortName] %></span>
    <% if defined? menu_course[:term] %>
      <span class="subtitle ellipsis enrollment_term menu-item-drop-float-right"><%= menu_course[:term] %></span>
    <% end %>
    <% course = Course.find(menu_course[:id]) -%>
    <% unless menu_course[:short_name] == course.em2_identifier -%>
      <span class="subtitle ellipsis"><%= t('em2_identifier','EM2 Identifier: ') %><%= course.em2_identifier %></span>
    <% end -%>
    <span class="subtitle ellipsis"><%= menu_course[:subtitle] %></span>
  </a>
</li>
