<div id="assessment_misconceptions_page">
  <% jammit_css :misconception_reports -%>
  <% content_for :page_title do -%>Misconception Reports<% end -%>
  <%= render :partial => "/quizzes/assessment_nav", :quiz => @quiz %>

  <div class="misconceptions">
    <% @misconceptions.active.each_with_index do |misconception, index| -%>
      <% if !misconception.description.empty? %>
        <h1 class="misconception_titles">Description:</h1>
        <p class="misconception_descriptions"><%= misconception.description %></p>
      <% end -%>
    <% end -%>
    <iframe src="<%= @quiz.misconception_url %>" class="explanation_url_frame"></iframe>
  </div>

  <div class="clear"></div>

  <div>
    <% @misconceptions.active.each_with_index do |misconception, index| -%>
      <h1 class="misconception_titles">Misconception: <%= misconception.name %></h1>
      <table class="table table-bordered misconception_tables">
        <thead>
          <th>Likely Misconception</th>
          <th>Possible Misconception</th>
          <th>Students with Difficulties</th>
        </thead>
          <tbody>
            <% while @high_probability["#{misconception.id}"].present? || @somewhat_probability["#{misconception.id}"].present? || @user_difficulties.present? %>

              <% likely_student = @high_probability["#{misconception.id}"].present? ? @high_probability["#{misconception.id}"].shift : nil %>
              <% possible_student = @somewhat_probability["#{misconception.id}"].present? ? @somewhat_probability["#{misconception.id}"].shift : nil %>
              <% difficult_student = @user_difficulties.present? ? @user_difficulties.shift : nil %>

              <tr>
                <% if likely_student.present? %>
                  <td>
                    <a href="<%= context_url(@course, :context_quiz_history_url, @quiz, :quiz_submission_id => @submissions["#{likely_student}"]) %>" class="name"><%= User.find(likely_student).sortable_name %></a>
                  </td>
                <% else %>
                  <td></td>
                <% end -%>

                <% if possible_student.present? %>
                  <td class="active">
                    <a href="<%= context_url(@course, :context_quiz_history_url, @quiz, :quiz_submission_id => @submissions["#{possible_student}"]) %>" class="name"><%= User.find(possible_student).sortable_name %></a>
                  </td>
                <% else %>
                  <td class="active"></td>
                <% end -%>

                <% if difficult_student.present? %>
                  <td>
                    <a href="<%= context_url(@course, :context_quiz_history_url, @quiz, :quiz_submission_id => @submissions["#{difficult_student}"]) %>" class="name"><%= User.find(difficult_student).sortable_name %></a>
                  </td>
                <% else %>
                  <td></td>
                <% end -%>
              </tr>

            <% end -%>
          </tbody>
      </table>
    <% end -%>
  </div>

</div>
