<% jammit_css :misconception_reports -%>
<% content_for :page_title do -%>Misconception Reports<% end -%>

<h2>Misconception Reports</h2>
<div class="misconceptions">
  <% @misconceptions.active.each_with_index do |misconception, index| -%>
    <div id="<%= misconception.name %>" class="misconception">
      <iframe src="<%= misconception.explanation_url %>" class="explanation_url_frame"></iframe>
      <table class="misconception_table">
        <tbody>
          <tr class="misconceptions_summary_row">
            <td class="misconceptions_summary_row_standard misconception_heading">
              <%= index+1 %>.&nbsp<%= misconception.name %>&nbsp<%= "- #{misconception.description}" if !misconception.description.empty? %>
            </td>
            <tr>
              <td>
                <%= link_to("Open URL", h(misconception.explanation_url), :target => "_blank") if (!misconception.explanation_url.empty?) %>
              </td>
            </tr>
          </tr>
          <tr>
            <td>
              &nbsp Highly Likely:
            </td>
          </tr>
          <tr>
            <td class="misconceptions_summary_row_standard" style="background-color:#FFCCCC;">
              <% @high_probability["#{misconception.id}"].each_with_index do |user_id, index| -%>
                <a href="<%= context_url(@course, :context_quiz_history_url, @quiz, :quiz_submission_id => @submissions["#{user_id}"]) %>" class="name"><%= User.find(user_id).name %></a><%= ', ' unless index == @high_probability["#{misconception.id}"].count-1 %>
              <% end -%>
            </td>
          </tr>
          <tr>
            <td>
              &nbsp Possible:
            </td>
          </tr>
          <tr>
            <td class="misconceptions_summary_row_standard" style="background-color:#FFCCCC;">
              <% @somewhat_probability["#{misconception.id}"].each_with_index do |user_id, index| -%>
                <a href="<%= context_url(@course, :context_quiz_history_url, @quiz, :quiz_submission_id => @submissions["#{user_id}"]) %>" class="name"><%= User.find(user_id).name %></a><%= ', ' unless index == @somewhat_probability["#{misconception.id}"].count-1 %>
              <% end -%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="clear"></div>
  <% end -%>
</div>
<div class="clear"></div>
<div class="difficulties">
  <h2>Students with difficulties:</h2>
  <table>
    <tbody>
      <tr>
        <% @user_difficulties.each_with_index do |user_difficulty, index| -%>
          <% if user_difficulty.last == "&#10004;" -%>
            <td style="background-color:#FFCCCC;">
              <a href="<%= context_url(@course, :context_quiz_history_url, @quiz, :quiz_submission_id => @submissions["#{user_difficulty.first}"]) %>" class="name"><%= User.find(user_difficulty.first).name %></a><%= ', ' unless index == @user_difficulties.count-1 %>
            </td>
          <% end -%>
        <% end -%>
      </tr>
    </tbody>
  </table>
</div>
