<% jammit_css :assessment_reports_index -%>

<% content_for :page_title do -%>Assessment Selection<% end -%>

<h1>Available Assessments</h1>



<table>
  <% if @quizzes.empty? -%>
		<tr>
			<th><%= t('reports', 'No assessments found.') %></th>
		</tr>
	<% else -%>
		<tr>
	    <th>Choose an assessment</th>
	  </tr>
	  <% @quizzes.each do |quiz| -%>
	  	<tr>
		  	<th>
		  		<% if params[:district_report_id] -%>
				  	<%= link_to "#{quiz.title}", district_report_assessment_report_path(params[:district_report_id], quiz.id) %>
			  	<% elsif params[:school_report_id] -%>
			  		<%= link_to "#{quiz.title}", school_report_assessment_report_path(params[:school_report_id], quiz.id) %>
			  	<% elsif params[:class_report_id] -%>
			  		<%= link_to "#{quiz.title}", class_report_assessment_report_path(params[:class_report_id], quiz.id) %>
		  		<% end -%>
			  </th>
			</tr>
		<% end -%>
	<% end -%>
</table>

<%= render :partial => 'reports/update_reports', :object => @report %>
