<div class="container" id="add_course_form">

  <% form_for :course, :url => { :action => "create" }, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="row">
      <h2 class="sub-header">Add a Class</h2>

      <!-- left side form -->
      <div class="row col-md-12">
        <div class="control-group">
          <%= f.label :name, 'Class Name' %>
          <div class="controls">
            <%= f.text_field :name, :class => 'form-control', :id => 'new_course_name_field' %>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Textarea -->
        <div class="col-md-4">
          <div class="control-group add_course_name_format_buttons">
            Student Name Format
            <div>
              <%= radio_button_tag "name_order", "first", :class => 'form-control' %>
              <%= label_tag "name_order", "First Name, Last Name" %>
            </div>
            <div>
              <%= radio_button_tag "name_order", "last", :class => 'form-control' %>
              <%= label_tag "name_order", "Last Name, First Name" %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :students, 'Class Roster' %>
            <div class="controls">
              <%= f.text_area :students, :class => 'form-control', :id => 'new_course_roster_area' %>
            </div>
          </div>
        </div>
        <!-- right side instructions -->
        <div class="col-md-8" id="add_class_instructions">
          <div class="panel" id="add_class_instructions_panel">
            <p id="add_class_instruction_text">
              Enter student's names in the class roster. Separate names from ids using commas or tabs, for example:
            </p>
            <p id="add_class_instruction_examples">
              John, 0543<br>
              John Bayles, 0543<br>
              Amy Smith-Phares, 0543
            </p>
          </div>
        </div>
      </div>
      <!-- Button -->
      <div class="row col-md-12">
        <div class="control-group">
          <label class="control-label" for="singlebutton"></label>
          <div class="controls">
            <%= f.submit 'Submit', :class => 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% end -%>
</div>
