<nav class="navbar navbar-default roster_nav" role="navigation">

  <div class="container-fluid container-nav roster_nav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle no-print" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h3 class="navbar-brand navbar-title"><%= @course.name %></h3>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-links sub_navbar roster_nav no-print">
        <li><%= link_to "Delete", course_path(@course), :method => 'DELETE' %></li>
        <li><%= link_to "Edit Roster", course_edit_course_students_path(@course) %></li>
        <li><%= link_to "Add Assessment", course_quizzes_path(@course.id) %></li>
        <li><a href="javascript:window.print()">Print</a></li>
      </ul>
    </div>

  </div>
</nav>

<div class="table-responsive" id="roster_names">
  <table class="table table-striped course_roster">
    <thead>
      <tr>
        <th colspan="1"><%= @course.students.count %> Students (Roster)</th>
        <th class="no-print">Student ID</th>
        <th class="print_instructions" colspan="3">Instructions</th>

      </tr>
    </thead>
    <tbody>
      <% @course.students.each do |student| %>
        <tr class="body_data">
          <td><%= student.sortable_name %></td>
          <td class="no-print"><%= student.permanent_name_identifier %></td>
          <td class="print_instructions">Go to http://elicitingmathmeaning.edc.org/ and enter <%= student.permanent_name_identifier %> to login</td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
